<h1 style="text-align: center;">Welcome to RuBlog Setup</h1>
<p>This wizard will guide you through the process of setting up RuBlog for your usage. &nbsp;Most settings are stored in the config/application.yml in regards to database connection and such. &nbsp;This wizard, will guide you through the customization of your Blog, from the Title of it, creating your primary user account, and setting up how comments are made, user creation, and such.</p>
<p>To continue, please click the next button below.</p>
<center><form method="GET" action="/setup/step1"><input type="submit" value="Next Step"/></form></center>