<h1 style="text-align: center;">RuBlog Setup Complete</h1>
<p>You have completed the RuBlog setup. &nbsp;Your account has been created, and you will need to login to create any categories, or posts on your new blog. &nbsp;Please enjoy!</p>
<p style="text-align: center;"><a href="../">Return to Front Page</a></p>