<h1 style="text-align: center;">RuBlog Setup - Step 1</h1>
<p>In this setup, you will give us some basic information to configure your Blog setup. &nbsp;Please answer all questiosn below.</p>
<form action="/setup/step1" method="POST">
<center><label for="name">Site Name:</label> <input name="name" type="text" value="#{request[:name]}"/>
<label for="byline">Blog ByLine:</label> <input name="byline" type="text" value="#{request[:byline]}"/>
<label for="username">Username:</label> <input name="username" type="text" value="#{request[:username]}"/>
<label for="password">Password:</label> <input name="password" type="password" />
<label for="password_confirm">Confirm Password:</label> <input name="password_confirm" type="password" />
<label for="email">Your Email:</label> <input name="email" type="text" value="#{request[:email]}"/>
<label for="display">Display Name:</label> <input name="display" type="text" value="#{request[:display]}"/><br/>
<input type="submit" value="Next Step &gt;&gt;" /></center>
</form>