<h1 style="text-align: center;">RuBlog Setup - Step 2</h1>
<p>In this final step, you will decide if you want open registration, how registration will be handled, and if you would like commenters to be registered users, or open for anyone to comment on. &nbsp;You will also be able to decide on if you should approve comments, or have them automatically approved.</p>
<form action="/setup/step2" method="POST"><center>
<input name="new_reg" type="checkbox" value="true" />Allow visitors to create accounts on the site<br />
<label for="reg_approval">Should new accounts automatically be approved?</label>
<select name="reg_approval">
  <option value="mod">All users need be approved.</option>
  <option value="nomod">All users are automatically approved.</option>
</select>
<label for="commenter">How should comments be handled:</label>
<select name="commenter">
  <option value="registered">Visitor should be registered to make a comment</option>
  <option value="all">All visitors can make comments, without an account</option>
</select>
<label for="comment_approval">Should comments be moderated or not:</label><select name="comment_approval">
  <option value="all">All Comments should be approved by an Administrator</option>
  <option value="vistors">Visitors without an account require approval</option>
  <option value="nomod">No moderation of comments</option>
</select><br/>
<input type="submit" value="&lt;&lt; Complete Setup &gt;&gt;" /></center></form>