@charset "UTF-8";

/**
 * Modified version of the CSS grid (aka 1140 CSS) that can be found at http://cssgrid.net
 * 
 * This modified version has some extra enhancements to make it a bit easier to work with
 * the grid. Along with these minor fixes I also renamed all grid classes to the names
 * used by the 960 grid system as I find "grid_6" easier to write than "sixcol".
 */
.container
{
    overflow:      hidden;
    padding-left:  1%;
    padding-right: 1%;
}

.row
{
    max-width: 96%;
    margin:    0 auto;
    overflow:  hidden;
    width:     100%;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, 
.grid_10, .grid_11
{
    float:        left;
    margin-right: 3.8%;
    min-height:   1px;
}

.row .grid_1
{
    width: 4.85%;
}

.row .grid_2
{
    width: 13.45%;
}

.row .grid_3
{
    width: 22.05%;
}

.row .grid_4
{
    width: 30.75%;
}

.row .grid_5
{
    width: 39.45%;
}

.row .grid_6
{
    width: 48%;
}

.row .grid_7
{
    width: 56.75%;
}

.row .grid_8
{
    width: 65.4%;
}

.row .grid_9
{
    width: 74.05%;
}

.row .grid_10
{
    width: 82.7%;
}

.row .grid_11
{
    width: 91.35%;
}

.row .grid_11_5
{
    width: 97.97%;
}

.row .grid_12
{
    float: left;
    width: 100%;
}

.last, .row > *:last-child
{
    margin-right: 0px;
}

img, object, embed
{
    max-width: 100%;
}

img
{
	height: auto;
}
