/**
 * Stylesheet used for the layout of most elements.
 *
 * @author Yorick Peterse
 * @link   http://yorickpeterse.com/
 */
#container
{
    margin:  20px auto;
    width:   100%;
}

#container2
{
    margin:   20px auto;
    width:    100%;
}

#content
{
    background:    #fff;
    border:        1px solid #ddd;
    padding:       20px;
    width:         96%;
    border-radius: 40px;
}

/* Top part of the website, contains the title and the navigation menu */
#top
{
    /* background:    #3399CC; */
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 51%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    height:        70px;
    margin-bottom: 20px;
    padding:       0px 10px;
    border-radius: 15px;
}

    #top header h1
    {
        color:       #fff;
        font-size:   38px;
        margin:      10px 0px 0px 0px;
        padding:     0px;
    }

    #top nav ul
    {
        float:        right;
        margin-right: 15px;
    }

        #top nav ul li
        {
            float:           left;
            font-size:       16px;
            list-style-type: none;
            margin-right:    10px;
        }

        #top nav ul li:last-child
        {
            margin-right: 0px;
        }

            #top nav ul li a
            {
                color:           #fff;
                display:         block;
                height:          45px;
                padding:         25px 10px 0px 10px;
                text-decoration: none;
            }

            #top nav ul li a:hover
            {
                background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            }

/* Footer at the bottom of the page */
#footer
{
    text-align: center;
}

    #footer p
    {
        font-size:     13px;
        margin-bottom: 10px;
    }

form label
{
    display: block;
}

    form label span.error
    {
        color: #E33F1E;
    }

form input[type="text"], form textarea, form input[type="password"]
{
    border:    1px solid #ccc;
    font-size: 14px;
    padding:   5px;
    width:     300px;
    border-radius: 15px;
}

form select
{
    border:     1px solid #ccc;
    font-size:  14px;
    padding:    5px;
    border-radius: 15px;
}

form textarea
{
    width: auto;
}

form input[type="submit"]
{
    background: #fff;
    border:     1px solid #ccc;
    font-size:  14px;
    padding:    3px 5px;
    border-radius: 10px;
}

form input[type="submit"]:hover
{
    background: #eee;
}

/* Comments */
#comments > h1
{
    margin-bottom: 10px;
}

#comments article header h1
{
    font-size: 16px;
}

#comments article header .meta
{
    margin-bottom: 10px;
}

/* Byline and Current Page */
.byline
{
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 49%, rgba(125,185,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(49%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 49%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 49%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 49%,rgba(125,185,232,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 49%,rgba(125,185,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  -webkit-broder-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  margin-top: -20px;
  color: #fff;
}

.byline p
{
  margin-bottom: 0px;
  padding: 5px 5px 5px 15px;
}

.page p
{
  text-align: right;
  padding-right: 15px;
}

/* Notifications */
.message
{
    margin-bottom: 20px;
    text-align:    center;
    border-radius: 15px;
}

    .message p
    {
        margin-bottom: 0px;
        padding:       5px;
    }

.message.success
{
    background: #DAEDA6;
    color:      #000;
}

.message.error
{
    background: #E33F1E;
    color:      #fff;
}

/* Pagination system */
.pager span
{
    display: none;
}

.pager a
{
    border:          1px solid #ccc;
    display:         inline-block;
    margin-right:    8px;
    min-width:       20px;
    padding:         5px;
    text-decoration: none;
    text-align:      center;
}

    .pager a:hover, .pager a.current
    {
        background: #eee;
        color:      #000;
    }

table
{
    margin-bottom: 10px;
    text-align:    left;
}

table thead tr th
{
    border-bottom: 2px solid #ccc!important;
}

table thead tr th, table tbody tr td
{
    border-bottom: 1px solid #ccc;
    padding:       8px 3px;
}

table tbody tr:last-child td
{
    border-bottom: none;
}

#content-1
{
    float: left;
    width: 196px;
}

#title_box
{
    width: 196px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 51%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 51%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    color: #fff;
}

.pad
{
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pad_title
{
  vertical-align: top;
  text-align: center;
  background: #aaa;
  color: #fff;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
