/**
 * Stylesheet used for styling headings, links, etc.
 *
 * @author Yorick Peterse
 * @link   http://yorickpeterse.com/ 
 */
body
{
    background:  url('../images/alpha-bg.png') repeat top left;
    background-color: #f1efff;
    border-top:  5px solid #444;
    color:       #444;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;
    font-size:   14px;
}

p
{
    font-size:     14px;
    line-height:   22px;
    margin-bottom: 20px;
}

a
{
    color: #444;
}

ol
{
    margin-left: 20px;
}

    ol li
    {
        list-style-type: decimal;
    }

ul
{
    margin-left: 18px;
}

    ul li
    {
        list-style-type: disc;
    }

ul, ol
{
    line-height:   22px;
    margin-bottom: 20px;
}

a:hover, h1 a:hover
{
    color: #E33F1E;
}

h1, h2, h3, h4, h5, h6
{
    font-weight:   bold;
    margin-bottom: 5px;
}

h1
{
    font-size: 28px;
}

h2
{ 
    font-size: 24px;
}

h3
{
    font-size: 22px;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 18px;
}

h6
{
    font-size: 16px;
}

h1 a
{
    color:           #444;
    text-decoration: none;
}

pre
{
    margin: 20px 0px;
}

code
{
    background: #eee;
}
