#{js("tinymce/tinymce.min")}
<script type="text/javascript">
tinymce.init({
  selector: "textarea",
  plugins: [
      "advlist autolink lists link image charmap print preview anchor",
      "searchreplace visualblocks code fullscreen",
      "insertdatetime media table contextmenu paste",
      "preview sh4tinymce wordcount"
  ],
  toolbar: "insertfile undo redo | stylesheet | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image sh4tinymce | preview",
  height: 300
});
</script>
<center><h1>Page Editor</h1></center>
<form method="POST">
  <label for="fname">File Name:</label>
  <input type="text" name="fname" />
  <label for="body">The Page:</label>
  <textarea name="body"></textarea><br/>
  <input type="Submit" value="Save Page"/>
</form>