<div class="pad">
  <div class="pad_title">Statistics</div>
  The Current Blog statistics
  <table>
    <tr>
      <td>Posts</td>
      <td>#{Post.count}</td>
    </tr>
    <tr>
      <td>Pages</td>
      <td>#{Page.count}</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td>#{Comment.count}</td>
    </tr>
    <tr>
      <td>Commentors</td>
      <td>#{User.where(:commenter => true).count}</td>
    </tr>
    <tr>
      <td>Authors</td>
      <td>#{User.where(:admin => true).count}</td>
    </tr>
  </table>
</div>