<article>
    <header>
        <h1>
            #{@post.title}
        </h1>
        <p>
            Created at <time pubdate="pubdate"
            datetime="#{@created_at}">#{@created_at}</time> and written by
            #{@post.user.display_name}
        </p>
    </header>

    #{RDiscount.new(@post.body).to_html}

    <?r if logged_in? && user.is_admin? ?>
    <p>
        #{Posts.a('Edit', :edit, @post.id)}
        | #{Posts.a('Delete', :delete, @post.id)}
    </p>
    <?r end ?>
</article>

<div id="comments">
    <h2>Comments</h2>

    <?r if !@post.comments.empty? ?>

    <?r @post.comments.each do |comment| ?>
    <article>
        <header>
            <h1>#{comment.username}</h1>

            <p class="meta">
                <time pubdate="pubdate"
                datetime="#{comment.created_at.strftime('%Y-%m-%d')}">
                    #{comment.created_at.strftime('%Y-%m-%d')}
                </time>
            </p>
        </header>

        <p>#{comment.comment}</p>
    </article>
    <?r end ?>

    <?r else ?>

    <p>No comments have been added yet.</p>

    <?r end ?>

    <?r if user.is_admin? || user.is_commenter? ?>
    <h2>Add Comment</h2>

    #{js("tinymce/tinymce.min")}
    <script type="text/javascript">
    tinymce.init({
      selector: "textarea",
      menubar: false,
      plugins: [
          // "advlist autolink lists link image charmap print preview anchor",
          // "searchreplace visualblocks code fullscreen",
          // "insertdatetime media table contextmenu paste",
          // "preview sh4tinymce wordcount"
          "wordcount autolink preview"
      ],
      toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link | preview"
    });
    </script>
    #{form_for(
      @new_comment,
      :method => :post,
      :action => Posts.r(:add_comment)
    ) do |f|
      f.input_hidden(:post_id, @post.id)

      unless logged_in?
        f.input_text('Username', :username)
      end

      f.textarea('Comment', :comment, :rows => 7, :cols => 60)

      f.input_submit('Submit')
    end}
    <?r end ?>
</div>
